html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%; /* Normally 100% is 16 px */
  font-family: "Rubik", sans-serif;
  background-color: rgb(243, 243, 243);
}
.parent {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  color: rosybrown;
  margin-top: 15px;
}
.child {
  width: 28%;
}
.container {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  justify-content: space-evenly;
  padding: 10px;
  line-height: 150px;
}

.box {
  background: rgb(251, 198, 198);
  padding: 5px;
  margin-top: 40px;
  text-align: center;
  color: lightcoral;
  font-size: 25px;
  line-height: 35px;
  font-size: 200%;
}

img {
  height: 380px;
  margin: 25px;
}
