html, body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Rubik", sans-serif;
}
.parent {
  background-image: url(pinkcheckers.jpg);
  font-size: 7rem;
  display: flex;
  justify-content: center;
  color: rgba(226, 88, 88, 0.905);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: rgb(253, 211, 211);
  border-radius: 15px;
  text-align: center;
  line-height: 11rem;
}


.parent:hover {
  color: rgba(173, 56, 56, 0.875);
  transition: 850ms;
}

.subheader {
  text-align: center;
  font-size: 1.5rem;
  color:rgba(172, 63, 63, 0.814);
  transition: 0.5s;
}

.subheader:hover {
  text-shadow: 0 0 0.7rem rgba(255, 170, 170, 0.831);
}

.container {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  justify-content: space-evenly;
  padding: 10px;
  line-height: 150px;
}

.box {
  background: rgb(251, 198, 198);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 500px;
  text-align: center;
  color: rgb(176, 48, 48);
  line-height: 35px;
  font-size: 200%;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 10px 10px rgba(201, 130, 130, 0.912);
  background-color: rgb(255, 230, 230);
  transition: 0.5s;
  filter: grayscale(25%);
}

.box:hover {
  transform: scale(1.1);
  box-shadow: 1.2rem 1.2rem 0.1rem 0.1rem rgba(146, 91, 91, 0.548);
  filter:grayscale(0%);
}

img {
  height: 400px;
  margin: 15px;
  border-radius: 40px;
  transition: 0.4s;
}

img:hover {
  border-radius: 20px;
  box-shadow: 0 0 1rem 0.6rem rgba(232, 131, 131, 0.368);
  
}

p {
  font-size: 75%;
  text-align: center;
  color: rgb(200, 70, 70);
  margin-bottom: 5px;
}

.dance {
  height: 9rem;
  position: relative;
  transition: .25s;
}

.dance:hover {
  transform: scale(1.2);
  box-shadow: 0 0;
}


#monkey {
  box-shadow: 0 0 0 0;
  transition: 0s;
  border-radius: 20px;
}

#monkey:hover {
  animation: bounce-travel 2s infinite linear alternate;
  
}

@keyframes bounce-travel {
  0% {
    transform: translateX(0rem);
    left: 10%;
  }
  25% {
    transform: translateX(5rem);
    left: 15%;
  }
  50% {
    transform: translateX(0rem);
    left: 20%;
  }
  75% {
    transform: translateX(5rem);
    left: 25%;
  }
  100% {
    transform: translateX(0rem);
    left: 30%;
  }
}

#monkey2 {
  box-shadow: 0 0 0 0;
  transition: 0s;
  border-radius: 20px;
}

#monkey2:hover {
  animation: rotate 1.5s linear;
}

@keyframes rotate {
  0% {
    left: 50%;
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 1400px) {
  .parent {
    height: fit-content;
    font-size: 6.5rem;
  }
}

@media screen and (max-width: 1100px) {
  .parent {
    font-size: 5.5rem;
    margin-top: 40px;
    padding: 2px
  }
  .dance {
    padding: 5px
  }
  .box {
    width: 470px;
    padding: 20px;
  }
  img {
    height: 365px
  }
}

@media screen and (max-width: 420px) {
  .parent {
    font-size: 3.85rem;
    line-height: 8rem;
  }
  .dance {
    height: 0px;  
  }
  .subheader {
    font-size: 16px;
    margin-bottom: 8px 
  }
  .box {
    width: 345px;
    margin: 10px
  }
  img {
    height: 300px;
  }
}