html, body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Rubik", sans-serif;
}
.parent {
  background-image: url(pinkcheckers.jpg);
  font-size: 7rem;
  display: flex;
  justify-content: center;
  color: rgba(226, 88, 88, 0.905);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: rgb(253, 211, 211);
  border-radius: 15px;
  text-align: center;
  line-height: 11rem;
}


.parent:hover {
  color: rgba(173, 56, 56, 0.875);
  transition: 850ms;
}

.subheader {
  text-align: center;
  font-size: 1.5rem;
  color:rgba(172, 63, 63, 0.814);
}

.container {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  justify-content: space-evenly;
  padding: 10px;
  line-height: 150px;
}

.box {
  background: rgb(251, 198, 198);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 500px;
  text-align: center;
  color: rgb(176, 48, 48);
  line-height: 35px;
  font-size: 200%;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 10px 10px rgba(201, 130, 130, 0.912);
  background-color: rgb(255, 230, 230);
  transition: 0.5s;
}

.box:hover {
  transform: scale(1.1);
  box-shadow: 1.2rem 1.2rem 0.1rem 0.1rem rgba(146, 91, 91, 0.548);
}

img {
  height: 400px;
  margin: 15px;
  border-radius: 10px;
}

p {
  font-size: 75%;
  text-align: center;
  color: rgb(200, 70, 70);
}

#dance {
  height: 9rem;
  position: relative;
  transition: .25s;
  
}

#dance:hover {
  transform: scale(1.2)
  
}